# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# macOS junk
.DS_Store

# Windows junk
Thumbs.db

# Test report folders
reports/